.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2c3e50;
    color: #ecf0f1;
    position: fixed; /* Fix the header at the top */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it's above other content */
    height: 5vh;
  }
  
  .header-left,
  .header-center,
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-center {
    justify-content: center;
    flex-grow: 1;
  }
  
  .logo {
    height: 40px; /* Adjust the logo size */
  }
  
  .profile-info {
    display: flex;
    align-items: center;
  }
  
  .button {
    background-color: #2980b9;
    color: #ecf0f1;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button:hover {
    background-color: #3498db;
  }
  
  .search-input {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
  }
  