/* frontend/src/pages/WelcomePage.css */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.welcome-container {   
  margin: 5% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 80%;
  min-height: 70vh;
}

.circle-div {
  width: 30%;
  aspect-ratio: 1;
  border: 4px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(135deg, #ff416c, #ff4b2b);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;
  opacity: 80%;
}

.circle-div:hover {
  background-color: #05be6b78;
  cursor: pointer;
  transform: scale(1.05);
  border-color: #0b14bd;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

span {
  font-size: 2.5em;
  text-align: center;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .circle-div {
    width: 45%;
  }
  
  span {
    font-size: 1.5em;
  }
}

@media (max-width: 480px) {
  .circle-div {
    width: 90%;
  }
  
  span {
    font-size: 1.2em;
  }
}
