* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.welcome-container {   
  margin: 5% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 80%;
  min-height: 70vh;
}

.circle-div {
  width: 30%;
  aspect-ratio: 1;
  border: pink solid;
  background-color: rgb(43, 198, 226);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;
  transition: background-color 0.3s ease;
}

.circle-div:hover {
  background-color: #05be6b78;
  cursor: pointer;
  color: hsla(61, 91%, 48%, 0.619);
}

span {
  font-size:5em ; 
  text-align: center;
  overflow: hidden;
}