body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(155deg, #04a181 10%, #115ca2 70%);
  min-height: 100vh;
  overflow-x: hidden; /* Only hide horizontal overflow to avoid scrollbars caused by floating shapes */
  position: relative;
}
.content {
  position: relative;
  z-index: 1; /* Ensure content is above the floating shapes */
  padding: 20px;
  min-height: 100vh; /* Ensure content takes the full height of the page */
  overflow-y: auto; /* Allow vertical scrolling */
}
