/* Global styles and background */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('/path/to/your/background.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    background-color: #432e2e;
    color: rgb(207, 68, 68);
    padding: 1rem;
    text-align: center;
    box-shadow: 5px 15px rgba(10, 11, 6, 0.457);    
    box-shadow: -5px 15px rgba(207, 89, 68, 0.398);
    text-shadow: 10px 10px rgba(234, 235, 238, 0.163) ;
    
    

  }
  
  .content {
    flex: 1;  /* Ensures the content takes up the remaining space */
    padding: 2rem;
  }
  
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  