/* Global styles and background */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('/path/to/your/background.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  
  .content {
    flex: 1;  /* Ensures the content takes up the remaining space */
    padding: 2rem;
  }
  
  .footer {
    background-color: #c94747;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  